* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.cabecalho {
    background-color: red;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-icone {
    justify-content: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-titulo {
    font-size: 30px;
}





















.corpo {
    background-color: gray;
}

.rodape {
    background-color: green;
}